#zagolovok{
	color:#ffe300;
}


#block_zagolovok{
	height: 200px;
	background: #1c1e22;
}

#glav{ 
 background-color: #272b30;
 }

 body{

 	background-color: #272b30;
 }

 a {
     color: #c8c8c8;
 }